{% extends '@layout/default.html.twig' %}

{% block title %}Página de Teste{% endblock %}

{% block content %}

    <h1>{{ block("title") }}</h1>

    <h2>Testando Doctrine</h2>

    <ul>
        {% for contato in contatos %}
            <li>
                <b>ID</b>: {{ contato.id }}<br>
                <b>Nome</b>: {{ contato.name }}<br>
                <b>Email</b>: {{ contato.email }}<br>
            </li>
        {% endfor %}
    </ul>

{% endblock %}