{% extends '@layout/default.html.twig' %}

{% block page_header %}Nova Campanha{% endblock %}

{% block title %}{{ block("page_header") }} | {{ parent() }}{% endblock %}

{% block content %}
    {% include '@app/campaign/_form-header.html.twig' %}

    {% do form.get('submit').setAttribute('class', 'btn btn-primary').setLabel('<i class="fa fa-check"></i> Cadastrar') %}

    {% do form.setAttribute('action', url('campaign.create')) %}
    {% do form.prepare() %}

    <div class="row">
        <div class="col-md-8">
            <div class="box box-primary">

                {{ form().openTag(form) | raw }}

                {% include '@app/campaign/_form-body.html.twig' %}

                {% include '@app/campaign/_form-footer.html.twig' %}

                {{ form().closeTag() | raw }}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
    <script type="text/javascript">
        tinymce.init( {
            selector: 'textarea',
            plugins: [
                'advlist autolink lists link image charmap print preview hr anchor pagebreak',
                'searchreplace wordcount visualblocks visualchars code fullscreen',
                'insertdatetime media nonbreaking save table contextmenu directionality',
                'emoticons template paste textcolor colorpicker textpattern imagetools'
            ],
            toolbar1: 'bold italic | fontselect |  fontsizeselect | print preview media | forecolor backcolor emoticons',
            toolbar2: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
            height: 500,
        } );
    </script>
{% endblock %}